VK_TOKEN=vk1.a.7kzOtmvlMz9jpD97zNTJ4Kji52zsxyIWJfEBoFCT8jr0Bk2LYc6ZqvvjykzzDL29VWyL_5hFbedEZGYkDipiYoLBN-3-xPjsngxmjRZwRj9XrBRqbI4OlMlyKx_I6wf0hv_FcGEcDs281c9miseljnElqujXTzNFQkTAxuDB9bBWkc4yvfMgpsmVcWYxfgrLhLov74Xn2i3CQcuPlqXyjQ
ADMIN_ID=888230055
